---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=openweather_key&lat=38.265427&lon=-104.605087&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.2654,"lon":-104.6051,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1619481314,"sunrise":1619438838,"sunset":1619487882,"temp":79.2,"feels_like":79.2,"pressure":999,"humidity":6,"dew_point":9.19,"uvi":0.83,"clouds":1,"visibility":10000,"wind_speed":18.41,"wind_deg":220,"wind_gust":29.93,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1619481360,"precipitation":0},{"dt":1619481420,"precipitation":0},{"dt":1619481480,"precipitation":0},{"dt":1619481540,"precipitation":0},{"dt":1619481600,"precipitation":0},{"dt":1619481660,"precipitation":0},{"dt":1619481720,"precipitation":0},{"dt":1619481780,"precipitation":0},{"dt":1619481840,"precipitation":0},{"dt":1619481900,"precipitation":0},{"dt":1619481960,"precipitation":0},{"dt":1619482020,"precipitation":0},{"dt":1619482080,"precipitation":0},{"dt":1619482140,"precipitation":0},{"dt":1619482200,"precipitati[...]
