---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=openweather_key&lat=38.265427&lon=-104.605087&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.2654,"lon":-104.6051,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1619442412,"sunrise":1619438838,"sunset":1619487882,"temp":57.52,"feels_like":53.82,"pressure":1003,"humidity":18,"dew_point":16.32,"uvi":0.21,"clouds":1,"visibility":10000,"wind_speed":9.22,"wind_deg":100,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1619442420,"precipitation":0},{"dt":1619442480,"precipitation":0},{"dt":1619442540,"precipitation":0},{"dt":1619442600,"precipitation":0},{"dt":1619442660,"precipitation":0},{"dt":1619442720,"precipitation":0},{"dt":1619442780,"precipitation":0},{"dt":1619442840,"precipitation":0},{"dt":1619442900,"precipitation":0},{"dt":1619442960,"precipitation":0},{"dt":1619443020,"precipitation":0},{"dt":1619443080,"precipitation":0},{"dt":1619443140,"precipitation":0},{"dt":1619443200,"precipitation":0},{"dt":1619443260,"precipitati[...]
[...]
